body {
  background-image: url("surfing.jpg");
  color: hotpink;
  text-align: center;
}

img {
  width: 200px;
  align: center;
  margin-right: 20px;
  text-align: center;
}

h1 {
  font-family: "Gloria Hallelujah";
}

h2 {
  font-family: "Frijole";
}